@using ProjetoCEEM.Services
@model ProjetoCEEM.ViewModels.UsuarioEsqueciSenhaViewModel
@{
    ViewBag.Title = "EsqueciSenha";
    Layout = "~/Views/Shared/_LayoutAdministrativa.cshtml";
}


<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="imgBackGround">
        <div id="main-wrapper">
            <div class="unix-login">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="login-content card">
                                <div class="panel-title text-center">
                                    <a class="no-text-decoration" href="@Url.Action("Index","Home")">
                                        <img src="@Url.Content("~/images/CEEM/Logo_vFinal_v2.png")" width="250" height="80" alt="" />
                                    </a>
                                </div>
                                <div class="login-form">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label>Email</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "exemplo@gmail.com" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Enviar</button>

                                        <div class="register-link m-t-15 text-center">
                                            <p>Não tem conta? <a href="@Url.Action("Index","Cadastros")">Cadastra-se</a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
