@using ProjetoCEEM.Services
@model IEnumerable<ProjetoCEEM.Models.PerguntaSegurancaCadastro>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PreCadastros</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerguntaSeguranca.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resposta)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerguntaSeguranca.Descricao)
            </td>
            <td>
                @HashService.Crip(item.Resposta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PerguntaSegurancaCadastroId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PerguntaSegurancaCadastroId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PerguntaSegurancaCadastroId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
